body{
    background: linear-gradient(
        to right,
        rgba(224, 177, 224, 0.486),
    cyan,
    lightblue
    );
    
    
}
#submit{
    background: transparent;
    border:  1px solid white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#reset{
    background: transparent;
    border:  1px solid white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}